.git
.gradle
.idea
build
.kotlin
*.iml
run-local-podman.sh
test-in-podman.sh
container-management.skill
*.skill
.kotlin-skills
node_modules

# Ignore all builds except the final web output we need
**/build
!composeApp/build/dist/wasmJs/productionExecutable/
